UR10e_anamoly/flow_creator/flows_final.json
[{"id":"c24a985ab3de4d71","type":"tab","label":"Adhesive Bonding","disabled":false,"info":"","env":[]},{"id":"5aa2a0e330a97c51","type":"tab","label":"Anomaly Detection","disabled":false,"info":"","env":[]},{"id":"6040e9e2fa550644","type":"mqtt-broker","name":"CTCbroker","broker":"192.168.30.80","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"c61bb5cbf4781075","type":"mqtt-broker","name":"iedatabus","broker":"ie-databus","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f36455e0b96a0087","type":"ui_tab","name":"Universal Robot","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7e679addd195e582","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#7000cc","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#7000cc","edited":true},"page-titlebar-backgroundColor":{"value":"#7000cc","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#971aff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#7000cc","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Adhesive Bonding Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"916ad98d437f23f5","type":"ui_group","name":"Robot Information","tab":"f36455e0b96a0087","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"ea4d2ea74feabe78","type":"ui_group","name":"Manual Input","tab":"f36455e0b96a0087","order":2,"disp":true,"width":9,"collapse":false,"className":""},{"id":"074caa3664121d6b","type":"ui_group","name":"Default","tab":"","order":1,"disp":false,"width":"20","collapse":false,"className":""},{"id":"c6b073ede32a029c","type":"ui_spacer","z":"c24a985ab3de4d71","name":"spacer","group":"074caa3664121d6b","order":3,"width":"20","height":"1"},{"id":"a809d27f675c67f1","type":"ui_spacer","z":"c24a985ab3de4d71","name":"spacer","group":"074caa3664121d6b","order":1,"width":"20","height":"1"},{"id":"6bdbad1a6c1d488c","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","timeout":"10","rejectUnauthorized":true},{"id":"8e0e8fa73243b79d","type":"ui_group","name":"Joints Information","tab":"f36455e0b96a0087","order":4,"disp":true,"width":8,"collapse":false,"className":""},{"id":"20ddbe79fde67944","type":"ui_group","name":"Adhesive Application","tab":"f36455e0b96a0087","order":5,"disp":true,"width":"10","collapse":false,"className":""},{"id":"294e2510cbf1b57b","type":"ui_group","name":"Upload","tab":"f36455e0b96a0087","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"my_group","type":"ui_group","name":"CSV Group","tab":"my_tab","order":1,"disp":true,"width":"6","collapse":false},{"id":"my_tab","type":"ui_tab","name":"CSV Tab","icon":"dashboard","order":1},{"id":"d8bdc137861d7073","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"edgedb","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","timeout":"","rejectUnauthorized":false},{"id":"981c0e3ad55fc17a","type":"ui_spacer","z":"c24a985ab3de4d71","name":"spacer","group":"20ddbe79fde67944","order":2,"width":4,"height":1},{"id":"bd77166a3a7fb553","type":"ui_spacer","z":"c24a985ab3de4d71","name":"spacer","group":"20ddbe79fde67944","order":4,"width":4,"height":1},{"id":"eab7080a1bbb77b8","type":"ui_spacer","z":"c24a985ab3de4d71","name":"spacer","group":"20ddbe79fde67944","order":6,"width":4,"height":1},{"id":"2cf28a93a89d5470","type":"ui_spacer","z":"c24a985ab3de4d71","name":"spacer","group":"20ddbe79fde67944","order":8,"width":4,"height":1},{"id":"6a2cc81fbaf5077f","type":"ui_spacer","z":"c24a985ab3de4d71","name":"spacer","group":"20ddbe79fde67944","order":10,"width":4,"height":1},{"id":"80354bb1323f7325","type":"ui_spacer","z":"c24a985ab3de4d71","name":"spacer","group":"20ddbe79fde67944","order":12,"width":4,"height":1},{"id":"4eb58c1569699ab2","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"378\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_Position_X`\n    };\n    return msg;\n} else {\n   \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":420,"wires":[["403809b3fe490872","9b4f67b722a75477","326ad284f179e613"]]},{"id":"403809b3fe490872","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":440,"wires":[["f941db8b6533dfa9"]]},{"id":"a3c21a6d6783c88b","type":"mqtt in","z":"c24a985ab3de4d71","name":"","topic":"ie/d/j/simatic/v1/s7c1/dp/r/PLC_Main/default","qos":"2","datatype":"auto-detect","broker":"c61bb5cbf4781075","nl":false,"rap":true,"rh":0,"inputs":0,"x":250,"y":420,"wires":[["4eb58c1569699ab2","d5b23bfa941822c0","af690d5df171caef","c2aef0d19265c347","8c034f60ee247155","3e10ac637176facf","c8012b8e91073f52","03b2ef905337568d","3e5ac357a0605fa4","9b97df149835c5bf","608c7f024e95e114","9cfeb9eb852b6b3f","6dc760d641fb58fc"]]},{"id":"d5b23bfa941822c0","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"379\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_Position_Y`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":480,"wires":[["3292dc690d57267f","326ad284f179e613"]]},{"id":"9b4f67b722a75477","type":"function","z":"c24a985ab3de4d71","name":"translate value","func":"let data = msg.payload;\n\n// Extract value and timestamp\nlet value = data.extractedValue.val;\nlet timestampISO = data.extractedValue.ts;\n\n// Convert ISO timestamp to milliseconds, then to nanoseconds\nlet timestampNanoseconds = new Date(timestampISO).getTime() * 1000000;\n\n// Format payload for InfluxDB\nmsg.payload = {\n    measurement: 'position', // Measurement name (make sure it's a valid name)\n    tags: {\n        machine: \"TCP\"\n    },\n    fields: {\n        value: value\n    },\n    timestamp: timestampNanoseconds // Set timestamp in nanoseconds\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":380,"wires":[[]]},{"id":"3292dc690d57267f","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":500,"wires":[["a490feb4c6f7adf8"]]},{"id":"404eaf2f8d505124","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":560,"wires":[["8b9ac2f63966058b"]]},{"id":"383444a3db4a2249","type":"comment","z":"c24a985ab3de4d71","name":"\"URI.TCP.\\\"TCP Position (X,Y,Z) [m]\\\"\"","info":"","x":650,"y":360,"wires":[]},{"id":"af690d5df171caef","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"381\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_Position_RX`\n    };\n    return msg;\n} else {\n   \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":980,"wires":[["7ed049c7119decce","6684ce1dc97b2990"]]},{"id":"7ed049c7119decce","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":980,"wires":[["5ebfe560a93415b6"]]},{"id":"c2aef0d19265c347","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"382\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_Position_RY`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1040,"wires":[["e567528b420fdd54","6684ce1dc97b2990"]]},{"id":"e567528b420fdd54","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":1060,"wires":[["8d060e237af930af"]]},{"id":"8f6badc2e5a95b63","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":1120,"wires":[["798b4e80bf67a6bb"]]},{"id":"9075ba70c784f638","type":"comment","z":"c24a985ab3de4d71","name":"\"URI.TCP.\\\"TCP Position (RX,RY,RZ) [rad]\\\"\"","info":"","x":730,"y":940,"wires":[]},{"id":"e87addf333794cb5","type":"influxdb batch","z":"c24a985ab3de4d71","influxdb":"6bdbad1a6c1d488c","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ns","retentionPolicyV18Flux":"","org":"CTC","bucket":"UR10e","x":2330,"y":600,"wires":[]},{"id":"a9f5e09e37f3eeba","type":"function","z":"c24a985ab3de4d71","name":"Convert to InfluxDB","func":"let data = msg.payload;\n\n// Extract value and timestamp\nlet value = data.extractedValue.val;\nlet timestampISO = data.extractedValue.ts;\n\n// Convert ISO timestamp to milliseconds, then to nanoseconds\nlet timestampNanoseconds = new Date(timestampISO).getTime() * 1000000;\n\nmsg.payload  = [{\n\n        measurement: data.tags,\n        fields:{\n            value: value},\n        timestamp: timestampNanoseconds\n    }];\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":600,"wires":[["22be6da6d588c1af","e87addf333794cb5"]]},{"id":"22be6da6d588c1af","type":"function","z":"c24a985ab3de4d71","name":"Check Button","func":"var recordingStatus = global.get('recordingStatus') || 'off';\n\nif (recordingStatus === 'on') {\n    // Proceed with processing\n    node.status({ fill: \"green\", shape: \"ring\", text: \"Recording allowed\" });\n    return msg;\n} else {\n    // Set node status to indicate that recording is not allowed\n    node.status({ fill: \"red\", shape: \"ring\", text: \"Recording not allowed\" });\n    return null; // Stop further processing\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":700,"wires":[["b652a30a2b140a90"]]},{"id":"ba5522e2b9607505","type":"ui_button","z":"c24a985ab3de4d71","name":"","group":"294e2510cbf1b57b","order":1,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"start","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":560,"wires":[["3c8d132a1f7815c8"]]},{"id":"a9248751c3285928","type":"ui_button","z":"c24a985ab3de4d71","name":"","group":"294e2510cbf1b57b","order":2,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"stop","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":720,"wires":[["c41f977a465c4615"]]},{"id":"f941db8b6533dfa9","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":1,"width":4,"height":1,"name":"","label":"TCP Position X","format":"{{msg.payload.toFixed(2)}}m","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1140,"y":440,"wires":[]},{"id":"a490feb4c6f7adf8","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":5,"width":4,"height":1,"name":"","label":"TCP Position Y","format":"{{msg.payload.toFixed(2)}}m","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1140,"y":500,"wires":[]},{"id":"8b9ac2f63966058b","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":9,"width":4,"height":1,"name":"","label":"TCP Position Z","format":"{{msg.payload.toFixed(2)}}m","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1140,"y":560,"wires":[]},{"id":"3c8d132a1f7815c8","type":"trigger","z":"c24a985ab3de4d71","name":"","op1":"start","op2":"stop","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":150,"y":620,"wires":[["cfd2ccdb7b309abb"]]},{"id":"a50cec6381835cd2","type":"comment","z":"c24a985ab3de4d71","name":"Velocity","info":"","x":610,"y":620,"wires":[]},{"id":"03d6bddafabcb8ff","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":680,"wires":[["2db0df2b831040ba"]]},{"id":"f55e6072b51b9417","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":740,"wires":[["2367881ca1964b7c"]]},{"id":"1b09bbf4eed0a201","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":800,"wires":[["645eac160ebaa5ce"]]},{"id":"2db0df2b831040ba","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":2,"width":4,"height":1,"name":"","label":"Vx","format":"{{msg.payload.toFixed(2)}}m/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1130,"y":680,"wires":[]},{"id":"2367881ca1964b7c","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":6,"width":4,"height":1,"name":"","label":"Vy","format":"{{msg.payload.toFixed(2)}}m/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1130,"y":740,"wires":[]},{"id":"645eac160ebaa5ce","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":10,"width":4,"height":1,"name":"","label":"Vz","format":"{{msg.payload.toFixed(2)}}m/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1130,"y":800,"wires":[]},{"id":"cfd2ccdb7b309abb","type":"function","z":"c24a985ab3de4d71","name":"Check Message","func":"if (msg.payload === 'start') {\n    global.set('recordingStatus', 'on');\n    return msg;\n} else if (msg.payload === 'stop') {\n    return { payload: 'clickStopButton' };\n} else {\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":620,"wires":[["a9248751c3285928"]]},{"id":"c41f977a465c4615","type":"function","z":"c24a985ab3de4d71","name":"Stop Function","func":"if (msg.payload === 'stop' || msg.payload === 'clickStopButton') {\n    global.set('recordingStatus', 'off');\n    // Perform additional actions if needed\n    return { payload: 'Stopped Recording' };\n} else {\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":720,"wires":[[]]},{"id":"08f08582a9f11451","type":"ui_form","z":"c24a985ab3de4d71","name":"","label":"","group":"ea4d2ea74feabe78","order":1,"width":0,"height":0,"options":[{"label":"Fördermenge","value":"Fördermenge","type":"number","required":true,"rows":null},{"label":"Klebfläche","value":"Klebfläche","type":"number","required":false,"rows":null},{"label":"Klebschichtdicke","value":"Klebschichtdicke","type":"number","required":false,"rows":null},{"label":"Dicke des Substrats","value":"Dicke des Substrats","type":"number","required":false,"rows":null},{"label":"Material des Substrats","value":"Material des Substrats","type":"number","required":false,"rows":null},{"label":"Faservolumgehalt","value":"Faservolumgehalt","type":"number","required":false,"rows":null},{"label":"Faserorientierung","value":"Faserorientierung","type":"number","required":false,"rows":null},{"label":"Trennmittel","value":"Trennmittel","type":"number","required":false,"rows":null}],"formValue":{"Fördermenge":"","Klebfläche":"","Klebschichtdicke":"","Dicke des Substrats":"","Material des Substrats":"","Faservolumgehalt":"","Faserorientierung":"","Trennmittel":""},"payload":"","submit":"submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":1770,"y":780,"wires":[["6a35fe7f33f5a383"]]},{"id":"8c034f60ee247155","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"384\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_velocity_X`\n    };\n    return msg;\n} else {\n   \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":680,"wires":[["03d6bddafabcb8ff","1b8ca1670384c6b9"]]},{"id":"3e10ac637176facf","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"385\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_velocity_Y`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":740,"wires":[["f55e6072b51b9417","1b8ca1670384c6b9"]]},{"id":"326ad284f179e613","type":"link out","z":"c24a985ab3de4d71","name":"link out 1","mode":"link","links":["cd1be0cca0f011c6"],"x":845,"y":620,"wires":[]},{"id":"cd1be0cca0f011c6","type":"link in","z":"c24a985ab3de4d71","name":"link in 1","links":["326ad284f179e613","1b8ca1670384c6b9","6684ce1dc97b2990","bdb4d6e2a0e83d1e","7a727063fd3cbe6d"],"x":1615,"y":600,"wires":[["a9f5e09e37f3eeba"]]},{"id":"c8012b8e91073f52","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"380\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_Position_Z`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":540,"wires":[["404eaf2f8d505124","326ad284f179e613"]]},{"id":"03b2ef905337568d","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"386\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_velocity_Z`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":800,"wires":[["1b09bbf4eed0a201","1b8ca1670384c6b9"]]},{"id":"1b8ca1670384c6b9","type":"link out","z":"c24a985ab3de4d71","name":"link out 2","mode":"link","links":["cd1be0cca0f011c6"],"x":805,"y":860,"wires":[]},{"id":"5ebfe560a93415b6","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":3,"width":4,"height":1,"name":"","label":"Rx","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1110,"y":980,"wires":[]},{"id":"8d060e237af930af","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":7,"width":4,"height":1,"name":"","label":"Ry","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1110,"y":1040,"wires":[]},{"id":"798b4e80bf67a6bb","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":11,"width":4,"height":1,"name":"","label":"Rz","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1110,"y":1100,"wires":[]},{"id":"3e5ac357a0605fa4","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"387\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_velocity_RX`\n    };\n    return msg;\n} else {\n   \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1220,"wires":[["ae5b3b6d125beb0d","6684ce1dc97b2990"]]},{"id":"ae5b3b6d125beb0d","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1220,"wires":[["6e65ec0e2e843625"]]},{"id":"9b97df149835c5bf","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"388\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_velocity_RY`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1280,"wires":[["7d09db9c0d12861e","6684ce1dc97b2990"]]},{"id":"608c7f024e95e114","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"// Assuming the input message payload contains the JSON object\nlet data = msg.payload;\n\n// Extract the sequence number\nlet sequenceNumber = data.seq;\n\n// Extract the array of values\nlet valuesArray = data.vals;\n\n// Initialize a variable to store the extracted value for id 381\nlet extractedValue = null;\n\n// Loop through the values array and filter for id 381\nvaluesArray.forEach(function (item) {\n    if (item.id === \"389\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n// Check if the extracted value is found\nif (extractedValue !== null) {\n    // Include the extracted data in the output message\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_velocity_RZ`\n    };\n    return msg;\n} else {\n    // Return null to stop the flow if no matching id is found\n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1340,"wires":[["3d19d321bc142ba1","6684ce1dc97b2990"]]},{"id":"7d09db9c0d12861e","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1300,"wires":[["6ee5a7bee10772fc"]]},{"id":"3d19d321bc142ba1","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1360,"wires":[["38770cd38d6f8c7e"]]},{"id":"0d3d9d60aba33664","type":"comment","z":"c24a985ab3de4d71","name":"vel","info":"","x":550,"y":1180,"wires":[]},{"id":"6e65ec0e2e843625","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":4,"width":4,"height":1,"name":"","label":"VRx","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1050,"y":1220,"wires":[]},{"id":"6ee5a7bee10772fc","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":8,"width":4,"height":1,"name":"","label":"VRy","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1050,"y":1280,"wires":[]},{"id":"38770cd38d6f8c7e","type":"ui_text","z":"c24a985ab3de4d71","group":"916ad98d437f23f5","order":12,"width":4,"height":1,"name":"","label":"VRz","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1050,"y":1340,"wires":[]},{"id":"9cfeb9eb852b6b3f","type":"link out","z":"c24a985ab3de4d71","name":"link out 3","mode":"link","links":["227ecefce7e44d4c"],"x":415,"y":520,"wires":[]},{"id":"227ecefce7e44d4c","type":"link in","z":"c24a985ab3de4d71","name":"link in 2","links":["9cfeb9eb852b6b3f"],"x":195,"y":2320,"wires":[["225e28c86014d9c7","7f2d93b7bd3c51fd","750df36dbbd4c914","6a80e6a43c12122c","e86bbb7eaae3a950","f18af8325a2db4f9","a33aa44e636a428f","daec1186fbf1c724","1af7d524e242cba6","6776faae35fa482d","a0e3949950b2e1da","590a015be35cdba7","d0cb565f74170674","e5844ae78311d648","0954b539932660cd","4c4db1d7a70b9935","28449cd87b556f38","8943012de5efe21c","8d22cde0f2e0802e","91fbfbc5ba0fbaf9","a8e4e935e9e09c25","877a89bf80a671ae","e37f6460c4571df1","9fc77be696dc362a","a243b108944809c0","3cc5c7ec184d0ecf","6cdfe568b343a264","c85f07ada74f1d03","ab0269fcd6d8071f","a41f7c5bcffb8f91"]]},{"id":"6dc760d641fb58fc","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"383\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`TCP_Position_RZ`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1100,"wires":[["8f6badc2e5a95b63","6684ce1dc97b2990"]]},{"id":"b23a1092986851ac","type":"comment","z":"c24a985ab3de4d71","name":"joint temp","info":"","x":500,"y":1460,"wires":[]},{"id":"6684ce1dc97b2990","type":"link out","z":"c24a985ab3de4d71","name":"link out 4","mode":"link","links":["cd1be0cca0f011c6"],"x":795,"y":1180,"wires":[]},{"id":"225e28c86014d9c7","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"365\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_temperature0`\n    };\n    return msg;\n} else {\n   \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1540,"wires":[["d9c36120df0caca9","bdb4d6e2a0e83d1e"]]},{"id":"d9c36120df0caca9","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1540,"wires":[["251b604388f45fa3"]]},{"id":"7f2d93b7bd3c51fd","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"366\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_temperature1`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1600,"wires":[["bea3f4ce34b21634","bdb4d6e2a0e83d1e"]]},{"id":"bea3f4ce34b21634","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1620,"wires":[["042ec9c91f2187d3"]]},{"id":"67c7aff784773c41","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1680,"wires":[["fe73a8321a8ea372"]]},{"id":"251b604388f45fa3","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":1,"width":4,"height":1,"name":"","label":"Base","format":"{{msg.payload.toFixed(2)}}°C","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1030,"y":1540,"wires":[]},{"id":"042ec9c91f2187d3","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":5,"width":4,"height":1,"name":"","label":"Shoulder","format":"{{msg.payload.toFixed(2)}}°C","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1040,"y":1600,"wires":[]},{"id":"fe73a8321a8ea372","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":9,"width":4,"height":1,"name":"","label":"Elbow","format":"{{msg.payload.toFixed(2)}}°C","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1030,"y":1660,"wires":[]},{"id":"750df36dbbd4c914","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"367\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_temperature2`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1660,"wires":[["67c7aff784773c41","bdb4d6e2a0e83d1e"]]},{"id":"6a80e6a43c12122c","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"368\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_temperature3`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1720,"wires":[["cbdfe383971a2bac","bdb4d6e2a0e83d1e"]]},{"id":"cbdfe383971a2bac","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1740,"wires":[["ae02e0bbce77401b"]]},{"id":"5b99a6520b80f87a","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1800,"wires":[["db46c8f6af6bb8b4"]]},{"id":"ae02e0bbce77401b","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":13,"width":4,"height":1,"name":"","label":"Wrist1","format":"{{msg.payload.toFixed(2)}}°C","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1030,"y":1720,"wires":[]},{"id":"db46c8f6af6bb8b4","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":17,"width":4,"height":1,"name":"","label":"Wrist2","format":"{{msg.payload.toFixed(2)}}°C","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1030,"y":1780,"wires":[]},{"id":"e86bbb7eaae3a950","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"369\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags: `Joints_temperature4`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1780,"wires":[["5b99a6520b80f87a","bdb4d6e2a0e83d1e"]]},{"id":"f18af8325a2db4f9","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"370\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_temperature5`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1840,"wires":[["5dba01ca7a60b97c","bdb4d6e2a0e83d1e"]]},{"id":"5dba01ca7a60b97c","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1860,"wires":[["fa8bd3aee8f7d162"]]},{"id":"fa8bd3aee8f7d162","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":21,"width":4,"height":1,"name":"","label":"Wrist3","format":"{{msg.payload.toFixed(2)}}°C","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1030,"y":1840,"wires":[]},{"id":"53945e57689c239c","type":"comment","z":"c24a985ab3de4d71","name":"joint current","info":"","x":510,"y":1920,"wires":[]},{"id":"a33aa44e636a428f","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"359\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_current0`\n    };\n    return msg;\n} else {\n   \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2000,"wires":[["5ba6056b29cd4a1a","bdb4d6e2a0e83d1e"]]},{"id":"5ba6056b29cd4a1a","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2000,"wires":[["dce6c13c921d4b10"]]},{"id":"daec1186fbf1c724","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"360\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_current1`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2060,"wires":[["be117ec448910864","bdb4d6e2a0e83d1e"]]},{"id":"be117ec448910864","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2060,"wires":[["fbac3a0d83b259e9"]]},{"id":"41202a59b9bbf9cb","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2120,"wires":[["2d2bda72f3ae142c"]]},{"id":"dce6c13c921d4b10","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":2,"width":4,"height":1,"name":"","label":"Current","format":"{{msg.payload.toFixed(2)}}A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":2000,"wires":[]},{"id":"1af7d524e242cba6","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"361\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_current2`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2120,"wires":[["41202a59b9bbf9cb","bdb4d6e2a0e83d1e"]]},{"id":"6776faae35fa482d","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"362\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_current3`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2180,"wires":[["926c66c36dd9da88","bdb4d6e2a0e83d1e"]]},{"id":"926c66c36dd9da88","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2180,"wires":[["fc3662a6b54c53c4"]]},{"id":"96a215ac98648ae8","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2240,"wires":[["850fcc1e9a8c1aab"]]},{"id":"a0e3949950b2e1da","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"363\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags: `Joints_current4`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2240,"wires":[["96a215ac98648ae8","bdb4d6e2a0e83d1e"]]},{"id":"590a015be35cdba7","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"364\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_current5`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2300,"wires":[["4e09aa17acc920fc","bdb4d6e2a0e83d1e"]]},{"id":"4e09aa17acc920fc","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2300,"wires":[["d29c56a9723f7440"]]},{"id":"7d580f07eff2de91","type":"comment","z":"c24a985ab3de4d71","name":"joint position","info":"","x":510,"y":2360,"wires":[]},{"id":"d0cb565f74170674","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"347\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_position_0`\n    };\n    return msg;\n} else {\n   \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2440,"wires":[["8e843dab6cedbdf4","7a727063fd3cbe6d"]]},{"id":"8e843dab6cedbdf4","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2440,"wires":[["50847ffed69c2749"]]},{"id":"e5844ae78311d648","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"348\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_position_1`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2500,"wires":[["da9c4db276d61e54","7a727063fd3cbe6d"]]},{"id":"da9c4db276d61e54","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2500,"wires":[["1f64d98f91c564e1"]]},{"id":"b058c31c6ed2f8fc","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2560,"wires":[["6636f49090aa6d76"]]},{"id":"50847ffed69c2749","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":3,"width":4,"height":1,"name":"","label":"Position","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":2440,"wires":[]},{"id":"0954b539932660cd","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"349\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_position_2`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2560,"wires":[["b058c31c6ed2f8fc","7a727063fd3cbe6d"]]},{"id":"4c4db1d7a70b9935","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"350\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_position_3`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2620,"wires":[["455393018bee3bda","7a727063fd3cbe6d"]]},{"id":"455393018bee3bda","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2620,"wires":[["3f8002c72fe080ec"]]},{"id":"fc060e4b78bb23ca","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2680,"wires":[["2977d321a5ad5add"]]},{"id":"28449cd87b556f38","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"351\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags: `Joints_position_4`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2680,"wires":[["fc060e4b78bb23ca","7a727063fd3cbe6d"]]},{"id":"8943012de5efe21c","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"352\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_position_5`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2740,"wires":[["660e43e793a2310c","7a727063fd3cbe6d"]]},{"id":"660e43e793a2310c","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2740,"wires":[["bf75a4d357c13ca7"]]},{"id":"45c1f934a12fbd84","type":"comment","z":"c24a985ab3de4d71","name":"joint velocity","info":"","x":490,"y":2800,"wires":[]},{"id":"8d22cde0f2e0802e","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"353\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n\n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_velocity_0`\n    };\n    return msg;\n} else {\n   \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2880,"wires":[["c2ab15d0b5d4aff7","7a727063fd3cbe6d"]]},{"id":"c2ab15d0b5d4aff7","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":2880,"wires":[["7a6a52dbe2b1805b"]]},{"id":"91fbfbc5ba0fbaf9","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"354\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_velocity_1`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":2940,"wires":[["b61ab2555e8134a3","7a727063fd3cbe6d"]]},{"id":"b61ab2555e8134a3","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":2940,"wires":[["c3c1e37b2393bff9"]]},{"id":"a2868f9247d2b776","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":3000,"wires":[["2124e0df1c82f86c"]]},{"id":"7a6a52dbe2b1805b","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":4,"width":4,"height":1,"name":"","label":"Velocity","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":2880,"wires":[]},{"id":"a8e4e935e9e09c25","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"355\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_velocity_2`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3000,"wires":[["a2868f9247d2b776","7a727063fd3cbe6d"]]},{"id":"877a89bf80a671ae","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"356\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_velocity_3`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3060,"wires":[["d3e9984b04e4105f","7a727063fd3cbe6d"]]},{"id":"d3e9984b04e4105f","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":3060,"wires":[["636d85917d9b9a90"]]},{"id":"2e34adbf809f622b","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":3120,"wires":[["5c3d2cfe762a9801"]]},{"id":"e37f6460c4571df1","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"357\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags: `Joints_velocity_4`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3120,"wires":[["2e34adbf809f622b","7a727063fd3cbe6d"]]},{"id":"9fc77be696dc362a","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"358\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Joints_velocity_5`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3180,"wires":[["3fe5e6b9f739ba25","7a727063fd3cbe6d"]]},{"id":"3fe5e6b9f739ba25","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":3180,"wires":[["300dbf8c9b104311"]]},{"id":"bdb4d6e2a0e83d1e","type":"link out","z":"c24a985ab3de4d71","name":"link out 5","mode":"link","links":["cd1be0cca0f011c6"],"x":765,"y":1920,"wires":[]},{"id":"7a727063fd3cbe6d","type":"link out","z":"c24a985ab3de4d71","name":"link out 6","mode":"link","links":["cd1be0cca0f011c6"],"x":765,"y":2820,"wires":[]},{"id":"fbac3a0d83b259e9","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":6,"width":4,"height":1,"name":"","label":"Current","format":"{{msg.payload.toFixed(2)}}A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":2060,"wires":[]},{"id":"2d2bda72f3ae142c","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":10,"width":4,"height":1,"name":"","label":"Current","format":"{{msg.payload.toFixed(2)}}A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":2120,"wires":[]},{"id":"fc3662a6b54c53c4","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":14,"width":4,"height":1,"name":"","label":"Current","format":"{{msg.payload.toFixed(2)}}A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":2180,"wires":[]},{"id":"850fcc1e9a8c1aab","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":18,"width":4,"height":1,"name":"","label":"Current","format":"{{msg.payload.toFixed(2)}}A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":2220,"wires":[]},{"id":"d29c56a9723f7440","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":22,"width":4,"height":1,"name":"","label":"Current","format":"{{msg.payload.toFixed(2)}}A","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":2300,"wires":[]},{"id":"1f64d98f91c564e1","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":7,"width":4,"height":1,"name":"","label":"Position","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":2500,"wires":[]},{"id":"6636f49090aa6d76","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":11,"width":4,"height":1,"name":"","label":"Position","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":2560,"wires":[]},{"id":"3f8002c72fe080ec","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":15,"width":4,"height":1,"name":"","label":"Position","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":2620,"wires":[]},{"id":"2977d321a5ad5add","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":19,"width":4,"height":1,"name":"","label":"Position","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":2680,"wires":[]},{"id":"bf75a4d357c13ca7","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":23,"width":4,"height":1,"name":"","label":"Position","format":"{{msg.payload.toFixed(2)}}rad","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":2740,"wires":[]},{"id":"c3c1e37b2393bff9","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":8,"width":4,"height":1,"name":"","label":"Velocity","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":2940,"wires":[]},{"id":"2124e0df1c82f86c","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":12,"width":4,"height":1,"name":"","label":"Velocity","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":980,"y":3000,"wires":[]},{"id":"636d85917d9b9a90","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":16,"width":4,"height":1,"name":"","label":"Velocity","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":3060,"wires":[]},{"id":"5c3d2cfe762a9801","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":20,"width":4,"height":1,"name":"","label":"Velocity","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":3120,"wires":[]},{"id":"300dbf8c9b104311","type":"ui_text","z":"c24a985ab3de4d71","group":"8e0e8fa73243b79d","order":24,"width":4,"height":1,"name":"","label":"Velocity","format":"{{msg.payload.toFixed(2)}}rad/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1000,"y":3180,"wires":[]},{"id":"397f606d0c31c90d","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":3300,"wires":[["ed52b4ae48207c5a"]]},{"id":"a243b108944809c0","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"396\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags: `TCP_force_scalar`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3360,"wires":[["9b0724497c2a6690","7a727063fd3cbe6d"]]},{"id":"3cc5c7ec184d0ecf","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"509\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Linear_Axis`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3300,"wires":[["397f606d0c31c90d","7a727063fd3cbe6d"]]},{"id":"9b0724497c2a6690","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":3360,"wires":[["913a2df1d566bc7c"]]},{"id":"ed52b4ae48207c5a","type":"ui_text","z":"c24a985ab3de4d71","group":"20ddbe79fde67944","order":1,"width":6,"height":1,"name":"","label":"Linear Axis Position","format":"{{msg.payload.toFixed(2)}}m","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1130,"y":3300,"wires":[]},{"id":"913a2df1d566bc7c","type":"ui_text","z":"c24a985ab3de4d71","group":"20ddbe79fde67944","order":11,"width":6,"height":1,"name":"","label":"Force Scalar","format":"{{msg.payload.toFixed(2)}}N","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1110,"y":3360,"wires":[]},{"id":"2c5c039e6f219a07","type":"comment","z":"c24a985ab3de4d71","name":"extra","info":"","x":470,"y":3240,"wires":[]},{"id":"6cdfe568b343a264","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"2027\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Ziel_position`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3440,"wires":[["9fa29cfc1a6d1aae","7a727063fd3cbe6d"]]},{"id":"9fa29cfc1a6d1aae","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":3440,"wires":[["881683dfa8587059"]]},{"id":"881683dfa8587059","type":"ui_text","z":"c24a985ab3de4d71","group":"20ddbe79fde67944","order":3,"width":6,"height":1,"name":"","label":"Klebstoff_Zielposition","format":"{{msg.payload.toFixed(2)}}mm","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1140,"y":3440,"wires":[]},{"id":"c85f07ada74f1d03","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"2025\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Dosierung_Rueckfahrt`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3520,"wires":[["bef71978ca102c0e","7a727063fd3cbe6d"]]},{"id":"ec93ab60f9988d56","type":"ui_text","z":"c24a985ab3de4d71","group":"20ddbe79fde67944","order":5,"width":6,"height":1,"name":"","label":"Klebstoff_Dosierung_Rueckfahrt","format":"{{msg.payload.toFixed(2)}}m","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1170,"y":3520,"wires":[]},{"id":"bef71978ca102c0e","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":3520,"wires":[["ec93ab60f9988d56"]]},{"id":"ab0269fcd6d8071f","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"2028\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`GesGeschwindigkeit`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3600,"wires":[["d99e70c161552565","7a727063fd3cbe6d"]]},{"id":"b45833e8cbed8adb","type":"ui_text","z":"c24a985ab3de4d71","group":"20ddbe79fde67944","order":7,"width":6,"height":1,"name":"","label":"Gesamtgeschwindigkeit","format":"{{msg.payload.toFixed(2)}}m/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1150,"y":3600,"wires":[]},{"id":"d99e70c161552565","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":3600,"wires":[["b45833e8cbed8adb"]]},{"id":"a41f7c5bcffb8f91","type":"function","z":"c24a985ab3de4d71","name":"Extract data from id","func":"\nlet data = msg.payload;\n\n\nlet sequenceNumber = data.seq;\n\n\nlet valuesArray = data.vals;\n\n\nlet extractedValue = null;\n\n\nvaluesArray.forEach(function (item) {\n    if (item.id === \"2035\") {\n        extractedValue = {\n            id: item.id,\n            qc: item.qc,\n            ts: item.ts,\n            val: item.val\n        };\n    }\n});\n\n\nif (extractedValue !== null) {\n    \n    msg.payload = {\n        sequence: sequenceNumber,\n        extractedValue: extractedValue,\n        tags:`Beschleunigung`\n    };\n    return msg;\n} else {\n    \n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":3680,"wires":[["7e504e534720568f"]]},{"id":"7e355e70bfe57986","type":"ui_text","z":"c24a985ab3de4d71","group":"20ddbe79fde67944","order":9,"width":6,"height":1,"name":"","label":"Beschleunigungen","format":"{{msg.payload.toFixed(2)}}m/s2","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1130,"y":3680,"wires":[]},{"id":"7e504e534720568f","type":"function","z":"c24a985ab3de4d71","name":"Value","func":"let data = msg.payload;\n\n\nif (data && data.extractedValue && typeof data.extractedValue.val !== 'undefined') {\n    \n    msg.payload = data.extractedValue.val;\n    return msg;\n} else {\n   return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":3680,"wires":[["7e355e70bfe57986"]]},{"id":"12a0e0f0e97b88d4","type":"ui_template","z":"c24a985ab3de4d71","group":"294e2510cbf1b57b","name":"Download CSV","order":3,"width":6,"height":1,"format":"<button id=\"downloadCsvButton\" style=\"background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;\">\n    Download CSV\n</button>\n<script>\n    document.getElementById('downloadCsvButton').addEventListener('click', function() {\n        window.open('/ui/download_csv', '_blank');\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1720,"y":1120,"wires":[[]]},{"id":"951486d987e30da7","type":"http in","z":"c24a985ab3de4d71","name":"","url":"/ui/download_csv","method":"get","upload":false,"swaggerDoc":"","x":1720,"y":1040,"wires":[["85c9b23fc30a0cb8"]]},{"id":"85c9b23fc30a0cb8","type":"function","z":"c24a985ab3de4d71","name":"Query InfluxDB","func":"msg.query = `from(bucket: \"SAMIR\")\n  |> range(start: -1h)\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")\n`;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1940,"y":1040,"wires":[["9d0e7ff37cc300bc"]]},{"id":"0abcc85044a27b41","type":"function","z":"c24a985ab3de4d71","name":"Convert to CSV","func":"let results = msg.payload;\n\n// Initialize CSV content\nlet csvData = \"timestamp\";\nlet measurements = new Set();\n\n// Gather all unique measurements and fields\nresults.forEach(entry => {\n    measurements.add(entry._measurement);\n});\n\nmeasurements.forEach(measurement => {\n    csvData += `,${measurement}_value`;\n});\ncsvData += \"\\n\";\n\n// Populate CSV rows\nresults.forEach(entry => {\n    let timestamp = new Date(entry._time).toISOString();\n    let row = `${timestamp}`;\n\n    measurements.forEach(measurement => {\n        if (entry._measurement === measurement) {\n            row += `,${entry._value}`;\n        } else {\n            row += `,`; // Fill empty cells for non-matching measurements\n        }\n    });\n\n    csvData += `${row}\\n`;\n});\n\n// Set the payload and headers\nmsg.payload = csvData;\nmsg.headers = {\n    'Content-Type': 'text/csv',\n    'Content-Disposition': 'attachment; filename=\"data.csv\"'\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2400,"y":1040,"wires":[["0d55da7ee18fa9aa"]]},{"id":"0d55da7ee18fa9aa","type":"http response","z":"c24a985ab3de4d71","name":"","statusCode":"","headers":{},"x":2590,"y":1040,"wires":[]},{"id":"9d0e7ff37cc300bc","type":"influxdb in","z":"c24a985ab3de4d71","influxdb":"d8bdc137861d7073","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"CTC","x":2170,"y":1040,"wires":[["0abcc85044a27b41"]]},{"id":"b652a30a2b140a90","type":"influxdb batch","z":"c24a985ab3de4d71","influxdb":"6bdbad1a6c1d488c","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ns","retentionPolicyV18Flux":"","org":"CTC","bucket":"SAMIR","x":2290,"y":700,"wires":[]},{"id":"6a35fe7f33f5a383","type":"function","z":"c24a985ab3de4d71","name":"function 3","func":"// Retrieve the payload from the form\nlet data = msg.payload;\nlet timestamp = Date.now() * 1e6;  // Current timestamp in nanoseconds\n\n// Initialize an array to hold transformed data points\nlet transformedData = [];\n\n// Loop through each key-value pair in the data\nfor (let key in data) {\n    if (data.hasOwnProperty(key) && data[key]) {  // Skip empty values\n        let measurement = key;\n        let value = data[key];\n\n        // Create a data point object\n        let dataPoint = {\n            measurement: measurement,  // Measurement name from key\n            fields: {\n                value: value  // Field name 'value' with its corresponding value\n            },\n            timestamp: timestamp  // Use the same timestamp for all data points\n        };\n\n        // Add the data point to the array\n        transformedData.push(dataPoint);\n    }\n}\n\n// Set the transformed data as msg.payload\nmsg.payload = transformedData;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":760,"wires":[["b652a30a2b140a90"]]},{"id":"6671c864e754fd7c","type":"comment","z":"c24a985ab3de4d71","name":"Samir Screen","info":"","x":1710,"y":960,"wires":[]},{"id":"9dea01c397cd2c84","type":"mqtt in","z":"5aa2a0e330a97c51","name":"","topic":"anomaly","qos":"2","datatype":"auto-detect","broker":"c61bb5cbf4781075","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":640,"wires":[["968620e876d45452"]]},{"id":"cdaa355dda529813","type":"mqtt out","z":"5aa2a0e330a97c51","name":"","topic":"deeplogtrain","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c61bb5cbf4781075","x":1010,"y":340,"wires":[]},{"id":"6e3b1edeabd19d4d","type":"inject","z":"5aa2a0e330a97c51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":340,"wires":[["b6b7239b8a68e26c"]]},{"id":"b6b7239b8a68e26c","type":"function","z":"5aa2a0e330a97c51","name":"function 1","func":"const measurementName = global.get('measurementName') || 'default_measurement';\n\n\nmsg.query = `from(bucket: \"UR10e\")\n  |> range(start: 2024-09-12T09:55:00Z, stop: 2024-09-12T11:29:00Z)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"${measurementName}\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")`;\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["5ce9b67d2fe59b77"]]},{"id":"5ce9b67d2fe59b77","type":"influxdb in","z":"5aa2a0e330a97c51","influxdb":"6bdbad1a6c1d488c","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"CTC","x":610,"y":340,"wires":[["10b49120b8ce3197"]]},{"id":"10b49120b8ce3197","type":"json","z":"5aa2a0e330a97c51","name":"","property":"payload","action":"obj","pretty":false,"x":830,"y":340,"wires":[["cdaa355dda529813"]]},{"id":"968620e876d45452","type":"debug","z":"5aa2a0e330a97c51","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":640,"wires":[]},{"id":"b52e5ca1a5aa3736","type":"mqtt out","z":"5aa2a0e330a97c51","name":"","topic":"handling","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c61bb5cbf4781075","x":1040,"y":500,"wires":[]},{"id":"d2a1334e0e03e04d","type":"inject","z":"5aa2a0e330a97c51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"360","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["bcb1fc5ab234eafe"]]},{"id":"bcb1fc5ab234eafe","type":"function","z":"5aa2a0e330a97c51","name":"function 2","func":"const measurementName = global.get('measurementName') || 'default_measurement';\nmsg.query = `from(bucket: \"UR10e\")\n  |> range(start: -40m)\n  |> filter(fn: (r) => r[\"_measurement\"] == \"${measurementName}\")\n  |> filter(fn: (r) => r[\"_field\"] == \"value\")`;\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":500,"wires":[["055de7d0fd6e83d3"]]},{"id":"055de7d0fd6e83d3","type":"influxdb in","z":"5aa2a0e330a97c51","influxdb":"6bdbad1a6c1d488c","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"CTC","x":650,"y":500,"wires":[["93875d118cf8999b"]]},{"id":"93875d118cf8999b","type":"json","z":"5aa2a0e330a97c51","name":"","property":"payload","action":"obj","pretty":false,"x":870,"y":500,"wires":[["b52e5ca1a5aa3736"]]},{"id":"80d7eb95e3103d6d","type":"comment","z":"5aa2a0e330a97c51","name":"Parameter Setup (In Function Node below)","info":"","x":220,"y":40,"wires":[]},{"id":"0b66c5506bf51c38","type":"function","z":"5aa2a0e330a97c51","name":"Setup","func":"// Set the Measurement here\nglobal.set('measurementName', 'TCP_Position_X');\n\nnode.status({fill: \"green\", shape: \"dot\", text: `Measurement name set to: ${global.get('measurementName')}`});\nmsg.payload = `Measurement name set to: ${global.get('measurementName')}`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[[]]},{"id":"e86294a5632b0dbd","type":"inject","z":"5aa2a0e330a97c51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["0b66c5506bf51c38"]]},{"id":"a5767f4c69b0b03f","type":"comment","z":"5aa2a0e330a97c51","name":"Train/Check","info":"","x":150,"y":280,"wires":[]},{"id":"4352046909cdd755","type":"comment","z":"5aa2a0e330a97c51","name":"Output","info":"","x":110,"y":580,"wires":[]},{"id":"2dbdd1ca9efab4f0","type":"inject","z":"5aa2a0e330a97c51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.21","payloadType":"num","x":150,"y":200,"wires":[["6642eb5f10246653"]]},{"id":"6642eb5f10246653","type":"function","z":"5aa2a0e330a97c51","name":"function 3","func":"msg.payload = { 'threshold': msg.payload };\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["0c71a7fe1fc29f46"]]},{"id":"0c71a7fe1fc29f46","type":"mqtt out","z":"5aa2a0e330a97c51","name":"","topic":"thresholdset","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c61bb5cbf4781075","x":550,"y":200,"wires":[]}]